:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --text-color: #333;
  --font-main: 'Poppins', sans-serif;
  --border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: semi-bold;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}

span {
  font-weight: bold;
  color: var(--secondary-color);
}

nav {
  background-color: var(--primary-color);
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.cta {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #ff6600;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.specials {
  padding: 20px;
}
